<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/displayofflights">

  
    <label for="Boarding point">
        <input type="string" placeholder="Boarding point" name="bp">
    </label>
    <label for="Destination point">
        <input type="string" placeholder="Destination point" name="dp">
    </label>
    <label for="DOJ">
        <input type="string" placeholder="date of journey" name="doj">
    </label>
    <label for="e/b">
        <input type="string" placeholder="economy/business" name="eb">
    </label>
</form>
</body>
</html>